[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
flask-mail = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
